<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Art - Bootstrap Template</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link src = https://www.creativefabrica.com/product/have-faith-22/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playwrite+US+Modern&display=swap"/>
    <title>@NotAKIRA Pro - ArtSite 5 Landing Template</title>
  </head>
  <body data-bs-spy="scroll" data-bs-target=".navbar">

    <!--nav-->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
          <a class="navbar-brand" href="#">RTSTX.</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
          data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
          aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            
      </nav>
      <form>
  
      </form>
<!--hero-->
<section id="home" class="bg-cover hero section" style= "background-image:  url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/splatoon-2/f/f0/S2splatfest.jpg);" >
    <div class="overlay"></div>
    <div class="container text-white text-center">
          <div class="row">
              <div class="col-12">
                <h1 class="display-4"> The Home for Art Commissions<br>
                    and some Special Accessories</h1>
                <p class="my-4">With the main base characters of the Nintendo game Splatoon, I can draw them<br>
                    in my artstyle and sell them in a portrait or a a furnature or wearable accessory.</p>
                <button>Get Started</button>
              </div>
          </div>
    </div>
</section>

<!--products-->
<section id="products" class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-12 section-intro text-center" data-aos="fade-up">
          <h1>Sample Art</h1>
          <div class="divider"></div>
          <p>I'm opening commissions for those who wants their characters drawn<br>
            drawn in my artstyle. Here are some sample artworks shown below.</br>
          </p>
        </div>
      </div>
         <div class="column">
          <div class="col-md-4" data-aos="zoom-in">
            <div class="servic">
            <img src="IMG_3192_2.jpg" alt="" style="width:300%">
            <div class="icon"><i class="icon-browser"></i></div>
            </div>
            <h5 class="mt-5 pt-2">Price: N/A</h5>
            <p>Sample drawing</p>
          </div>
         </div>
         <div class="column">
          <div class="col-md-4" data-aos="zoom-in">
            <div class="servic">
            <img src="IMG_2445_2.jpg" alt="" style="width:300%">
            <div class="icon"><i class="icon-browser"></i></div>
            </div>
            <h5 class="mt-5 pt-5">Price: N/A</h5>
            <p>Sample drawing</p>
          </div>
         </div>
         <div class="column">
          <div class="col-md-4" data-aos="zoom-in">
            <div class="servic">
            <img src="IMG_5399.jpg" alt="" style="width:300%">
            <div class="icon"><i class="icon-browser"></i></div>
            </div>
            <h5 class="mt-5 pt-2">Price: N/A</h5>
            <p>Sample drawing</p>
          </div>
         </div>
</section>


<!--about-->
<section id="about" class="bg-cover hero section" style= "background-image:  url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/splatoon-2/f/f0/S2splatfest.jpg);" >
  <div class="overlay"></div>
  <div class="container text-white text-center">
        <div class="row">
            <div class="col-12">
              <h1 class="display-4">Who Am I?</h1>
              <p class="my-4">I’m a self taught artist with no learning experience, I started making artwork because of some art timelapse videos. I started with putting a piece of paper on the laptop to trace images/other art and calling it my own, but ever since my mother convinced me to start making drawings on my own, I’ve been slowly practicing on drawing things on my own without tracing. I’ve started with Dragon Ball and when creating an artstyle, it looks pretty similar to that style (Mainly similar to the DBS Broly artstyle made by Naohiro Shintani).
              </p>
                  <div class="column">
                    <div class="col-md-4">
                    <div class="servic">
                      <img src="IMG_4232.jpg" alt="" style="width:3000%">

                      </div>
            </div>
        </div>
  </div>
</section>


<!--services-->
<section id="services" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-12 section-intro text-center">
        <h1>What I Offer</h1>
        <div class="divider"></div>
        <p>I also offer small art tutoring servises for those who want to learn the basics of art drawing. Services may include learning the basic steps of drawing a body, hair, proper sizes for each body part, etc.</p>
      </div>
    </div>
</section>


    <!--contact-->
    <section id="contact" class="bg-cover text-white" style="background-image: url(img/cover_3.jpg);">
      <div class="overlay"></div>
      <div class="container">
          <div class="row">
              <div class="col-12 section-intro text-center" data-aos="fade-up">
                  <h1>Get in touch</h1>
                  <div class="divider"></div>
                  <p>Contact me for any questions, comments or concerns as well as an 
                  </p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-8 mx-auto" data-aos="fade-up">
                  <form action="#" class="row g-4">
                      <div class="form-group col-md-6">
                          <input type="text" class="form-control" placeholder="Full name">
                      </div>
                      <div class="form-group col-md-6">
                          <input type="email" class="form-control" placeholder="Email address">
                      </div>
                      <div class="form-group col-md-12">
                          <input type="text" class="form-control" placeholder="Subject">
                      </div>
                      <div class="form-group col-md-12">
                          <textarea name="" id="" cols="30" rows="4" class="form-control" placeholder="Message"></textarea>
                      </div>
                      <div class="text-center">
                          <button class="btn btn-main" type="submit">Send Message</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </section>


<!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https;//cdn.jsdeliver.net/rpm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+9nbTov4+1p" crossorigin="anonymous"></script>

    </body>

    <body>

    </body>
    </html>

    </head>